/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("purple", "darken-2") !default;
$secondary-color: color("blue", "darken-1") !default;
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

html{
    background-color:black;
    color:white;
}

.text-center{
    text-align: center;
}

.new-green{
	background-color: #25c91a !important;
}
.alert-outer-container{
    position: absolute;
    width: 100%;
    margin: auto;
    max-height: 50px !important;
}
.alert-container{
    position: relative;
    width: 100%;
    float: left;
    height: 50px;
    padding-top: 5px;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity:1;
}

.alert-info, .alert-danger, .alert-success{
    background-color: #1e88e5 !important;
    margin: auto;
    width: 50%;
    border-radius: 5px;
    height: 50px;
    position: relative;
    color: white;
    top: -20px;
    p {
        font-size: 1.3rem;
        position: relative;
        padding-top: 10px;
    }
}

.alert-danger{
    background-color: #e53935 !important;
}
.alert-info{
    background-color: #1e88e5 !important;
}
.alert-success{
    background-color: #25c91a !important;
}
nav .brand-logo{
    padding:0px 0px 0px 5px;
}